
.vs/proiect-poo/v16/.suo
.vs/proiect-poo/v16/Browse.VC.db
.vs/proiect-poo/v16/Browse.VC.opendb
.vs/proiect-poo/v16/ipch/AutoPCH/4d5bab7ad17a5093/PROIECT-POO.ipch
proiect-poo/x64/Debug/proiect-poo.Build.CppClean.log
proiect-poo/x64/Debug/proiect-poo.log
proiect-poo/x64/Debug/proiect-poo.obj
proiect-poo/x64/Debug/proiect-poo.tlog/CL.command.1.tlog
proiect-poo/x64/Debug/proiect-poo.tlog/CL.read.1.tlog
proiect-poo/x64/Debug/proiect-poo.tlog/CL.write.1.tlog
proiect-poo/x64/Debug/proiect-poo.tlog/link.command.1.tlog
proiect-poo/x64/Debug/proiect-poo.tlog/link.read.1.tlog
proiect-poo/x64/Debug/proiect-poo.tlog/link.write.1.tlog
proiect-poo/x64/Debug/proiect-poo.tlog/proiect-poo.lastbuildstate
proiect-poo/x64/Debug/proiect-poo.vcxproj.FileListAbsolute.txt
proiect-poo/x64/Debug/vc142.idb
proiect-poo/x64/Debug/vc142.pdb
x64/Debug/proiect-poo.exe
x64/Debug/proiect-poo.ilk
x64/Debug/proiect-poo.pdb
proiect-poo/x64/Debug/proiect-poo.obj.enc
